<html lang="en" class="">
  <head>
    <meta charset="utf-8" />
    <title>注册</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/app.min.css" type="text/css" />
  </head>
  <body>
    <div class="app app-header-fixed ">
      <div class="container w-xxl w-auto-xs">
        <a href class="navbar-brand block m-t">链都科技博客用户注册</a>
        <div class="m-b-xs">
          <div class="wrapper text-center">
          </div>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="text-danger wrapper text-center">
              <%= f.error_notification %>
            </div>

            <div class="list-group list-group-sm">
               <div class="list-group-item">
                  <%= f.input :email, required: true, autofocus: true %>
               </div>

               <div class="list-group-item">
                 <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
               </div>

               <div class="list-group-item">
                <%= f.input :password_confirmation, required: true %>
               </div>
            </div>

            <button type="submit" class="btn btn-lg btn-primary btn-block">注册</button>

            <div class="line line-dashed"></div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
        <div class="text-center">
          <p>
          <small class="text-muted">技术支持：行者网络 &copy; 2015 - 2017</small>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
