<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_group.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_group.description %>
</p>

<%= link_to 'Edit', edit_admin_group_path(@admin_group) %> |
<%= link_to 'Back', admin_groups_path %>
